rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isLoggedIn() {
      return request.auth != null && request.auth.token.email_verified;
    }

    match /users/{userId} {
      allow read: if false;
      allow write: if isLoggedIn() && request.auth.uid == userId && isValidUserData(request.resource.data);

        function isValidUserData(data) {
          let keys = ["name", "birthDay", "gender"];
          return data.keys().hasAll(keys)
            && data.keys().hasOnly(keys)
            && data.name is string
            && data.birthDay is string
            && data.gender in ["MALE", "FEMALE", "OTHER"]
        }
    }
  }
}