rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isLoggedIn() {
      return request.auth != null && request.auth.token.email_verified == true;
    }

    match /avatars/{userId}/{allImages=**} {
      allow read: if isLoggedIn();
      allow write: if isLoggedIn() && request.auth.uid == userId;
    }
  }
}
