.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.posts {
  flex-grow: 1;
  background-color: white;
  border-radius: 16px;
  padding: 8px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.post {
  padding-bottom: 8px;
  margin: 4px;
  border-bottom: solid 1px #a5a5a5;

  &:first-child {
    margin-top: auto;
  }

  &:last-child {
    border-bottom: none;
  }
}

.postMeta {
  display: flex;
  gap: 8px;
  margin-bottom: 4px;
  align-items: center;
}

.postedBy {
  color: #252525;
  font-size: 14px;
}

.postedAt {
  color: #707070;
  font-size: 12px;
}

.deletePost {
  font-size: 12px;
}

.control {
  flex-shrink: 0;
}

.postedText {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.textInput {
  border-radius: 8px;
  padding: 8px;
  height: calc(4rem + 24px);
  resize: none;
  width: 100%;
}
