.buttonBox {
  margin-top: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.button {
  display: inline-block;
  cursor: pointer;
  font-size: 24px;
  border-radius: 8px;
  padding: 8px 16px;
  transition: opacity 0.2s;
  background-color: #1230AE;
  color: white;

  &:hover {
    opacity: 0.8;
  }

  &.secondary {
    background-color: #FFF7F7;
    color: black;
  }
}
