.label {
  font-size: 48px;
  color: white;
  text-align: center;
}

.description {
  margin-top: 16px;
  text-align: center;
  margin-bottom: 16px;
}

.inputWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  gap: 16px;
  padding: 0 8px;
}

.inputLabel {
  width: 140px;
  font-size: 16px;
  flex-shrink: 0;
}

.inputAndError {
  flex-grow: 1;
}

.textInput {
  width: 100%;
  font-size: 20px;
  padding: 4px 8px;
}

.inputError {
  padding-left: 4px;
  color: red;
  font-size: 12px;
}

.notification {
  text-align: center;
  margin-top: 16px;
  color: #272833;
  font-size: 12px;
}

.link {
  padding: 0 4px;
  color: blue;
  text-decoration: underline;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.8;
  }
}